<div class="container my-5">
  <h1 class="mb-5 text-center">{{ 'pages.login.title' | translate }}</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email">{{ 'pages.login.form.email.label' | translate }}</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <small class="text-danger" *ngIf="email.touched">
        <ng-container *ngIf="email.hasError('required')">
          {{ 'pages.login.form.email.errors.required' | translate }}
        </ng-container>
        <ng-container *ngIf="email.hasError('email')">
          {{ 'pages.login.form.email.errors.email' | translate }}
        </ng-container>
      </small>
    </div>
    <div class="form-group">
      <label for="password">{{ 'pages.login.form.password.label' | translate }}</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <small class="text-danger" *ngIf="password.touched && password.hasError('required')">
        {{ 'pages.login.form.password.errors.required' | translate }}
      </small>
      <small class="text-danger" *ngIf="password.touched && password.hasError('minlength')">
        {{ 'pages.login.form.password.errors.minLength' | translate:{ minLength: passwordMinLength } }}
      </small>
      <small class="text-danger" *ngIf="password.touched && password.hasError('pattern') && !password.hasError('minlength')">
        {{ 'pages.login.form.password.errors.pattern' | translate }}
      </small>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-4">{{ 'pages.login.form.submitButton' | translate }}</button>
    </div>
  </form>
  <div class="text-center mt-5">
    <a href="#">{{ 'pages.login.forgotPassword' | translate }}</a>
  </div>
</div>

