<div class="container my-5">
  <h1 class="mb-5 text-center">Paye ton Sboob</h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" formControlName="email">
      <small class="text-danger" *ngIf="email.touched">
        <ng-container *ngIf="email.hasError('required')">
          L'email est obligatoire
        </ng-container>
        <ng-container *ngIf="email.hasError('email')">
          L'email n'est pas valide
        </ng-container>
      </small>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <small class="text-danger" *ngIf="password.touched && password.hasError('required')">
        Le mot de passe est obligatoire
      </small>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary mt-4">Se connecter</button>
    </div>
  </form>
  <div class="text-center mt-5">
    <a href="#">Mot de passe oublié</a>
  </div>
</div>

