includes:
    - ergebnis.neon
    - ../apps/api/vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
    level: 9
    excludePaths:
        - ../apps/api/src/OpenApi/Parameter.php
    #    - ../apps/api/src/Gaufrette/Factory/SharepointAdapterFactory.php
    paths:
        - ../apps/api/src
    doctrine:
        objectManagerLoader: ../apps/api/tests/object-manager.php
    checkGenericClassInNonGenericObjectType: false
